<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikosval.aepp">

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".analitikalanthasmenesk8"></activity>
        <activity android:name=".analitikak8" />
        <activity android:name=".menuaskisewn8" />
        <activity android:name=".diagwnismak8" />
        <activity android:name=".thewria86" />
        <activity android:name=".thewria85" />
        <activity android:name=".thewria84" />
        <activity android:name=".thewria83" />
        <activity android:name=".thewria82" />
        <activity android:name=".thewria81" />
        <activity android:name=".menuthewrias8kefalaio" />
        <activity android:name=".menukefalaio8" />
        <activity android:name=".analitikalanthasmenesk7" />
        <activity android:name=".analitikak7" />
        <activity android:name=".diagwnismak7" />
        <activity android:name=".thewriaefta5" />
        <activity android:name=".thewriaefta4" />
        <activity android:name=".thewriaefta3" />
        <activity android:name=".thewriaefta2" />
        <activity android:name=".thewria71" />
        <activity android:name=".menuthewrias7kefalaio" />
        <activity android:name=".menukefalaio7" />
        <activity android:name=".menuaskisewn7" />
        <activity android:name=".thewriatriaeksi" />
        <activity android:name=".thewriadiopente" />
        <activity android:name=".thewria15" />
        <activity android:name=".findyourpassword" />
        <activity android:name=".voithia" />
        <activity android:name=".methodologiadeuterokefalaio" />
        <activity android:name=".analitikakathigitwn" />
        <activity
            android:name=".methodologiadontexist"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".menugiaerwthseiskath" />
        <activity android:name=".diagwnismakathigitwn" />
        <activity android:name=".epeksergasiaerwthsewn" />
        <activity android:name=".show_my_questions" />
        <activity android:name=".analitikalanthasmenes6" />
        <activity android:name=".analitikalanthasmenes5" />
        <activity android:name=".analitikalanthasmenes4" />
        <activity android:name=".analitikalanthasmenes3" />
        <activity android:name=".analitikalanthasmenes1" />
        <activity android:name=".analitikalanthasmenes2" />
        <activity android:name=".analitikak1mc" />
        <activity android:name=".analitikak1sl" />
        <activity android:name=".analitikak6" />
        <activity android:name=".analitikak4" />
        <activity android:name=".analitikak3" />
        <activity android:name=".analitikak2" />
        <activity android:name=".analitikak5" />
        <activity android:name=".QuestionLibraryKathigitwn" />
        <activity android:name=".showerwthseis" />
        <activity android:name=".protasherwthsewn" />
        <activity android:name=".Menukathigiti" />
        <activity android:name=".showopinions" />
        <activity android:name=".MenutoyAdmin" />
        <activity android:name=".opinions" />
        <activity
            android:name=".ShowThanos"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Showca"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".menuaskisewn6" />
        <activity android:name=".diagwnismak6" />
        <activity android:name=".thewriaeksi3" />
        <activity android:name=".thewriaeksi2" />
        <activity android:name=".thewriaeksi1" />
        <activity android:name=".menuthewrias6kefalaio" />
        <activity android:name=".menukefalaio6" />
        <activity android:name=".menukefalaio5" />
        <activity android:name=".diagwnismak5" />
        <activity android:name=".menuaskisewn5" />
        <activity android:name=".menuthewrias5kefalaio" />
        <activity android:name=".theoria55" />
        <activity android:name=".thewria54" />
        <activity android:name=".thewria53" />
        <activity android:name=".thewria52" />
        <activity android:name=".thewria51" />
        <activity android:name=".ShowHulk" />
        <activity android:name=".diagwnismakefalaio4" />
        <activity android:name=".menuaskisewn4" />
        <activity android:name=".methodologiakefalaio4" />
        <activity android:name=".thewriatesseratessera" />
        <activity android:name=".thewriatesseratria" />
        <activity android:name=".thewriatesseradio" />
        <activity android:name=".thewriatesseraena" />
        <activity android:name=".menuthwrias4okefalaio" />
        <activity
            android:name=".ShowThor"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ShowIronman"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".menukefalaio4" />
        <activity
            android:name=".Showspiderman"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".diagwnismakefalaio3" />
        <activity android:name=".menuaskisewn3" />
        <activity android:name=".methodologia3kefalaio" />
        <activity android:name=".thewriatriapente" />
        <activity android:name=".thewriatriatessera" />
        <activity android:name=".thewriatriatria" />
        <activity android:name=".thewriatriadio" />
        <activity android:name=".thewriatriaena" />
        <activity android:name=".menuthewrias3kefalaio" />
        <activity android:name=".menukefalaio3" />
        <activity android:name=".diagwnismakefalaio2" />
        <activity android:name=".menuaskisewn2" />
        <activity android:name=".thewriadiotessera" />
        <activity android:name=".methodologia2" />
        <activity android:name=".thewriadiotria" />
        <activity android:name=".thewriadiodio" />
        <activity android:name=".thewriadioena" />
        <activity android:name=".menuthewrias2oukefalaiou" />
        <activity android:name=".menu2okefalaio" />
        <activity
            android:name=".LevelupActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".kerdisetonironman" />
        <activity android:name=".BadgesActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".multiplechoicek1" />
        <activity android:name=".menuaskisewn1" />
        <activity android:name=".methodologia1" />
        <activity android:name=".diagwnismakefalaio1" />
        <activity
            android:name=".ReadyfortestActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".thewria1_4" />
        <activity android:name=".thewria1_3" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".thewria1_2" />
        <activity android:name=".apothikevmena" />
        <activity android:name=".menuthewrias1oukefaliou" />
        <activity android:name=".thewria1oukefalaiou" />
        <activity android:name=".menu1okefalio" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>


    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
</manifest>